.layout {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
  ;
  grid-template-rows: max-content 1fr;
  grid-template-columns: max-content 1fr;

  main {
    @apply p-3 rounded-tl-4 bg-secondary-bg;
  }
}
